{% extends 'HDRAPP/base.html' %}


{% block body %}
<div class="container-fluid w-100 vh-50">
    <div class="row p-2">
      <div class="col-md-6">
        <div id="carouselExampleInterval" class="carousel slide shadow" data-bs-ride="carousel">
          <div class="carousel-inner p-2">
            <div class="carousel-item active" data-bs-interval="4000">
              <img src="static/Images/HDR-1.jpg" class="rounded d-block mx-auto img-fluid" style="height: 400px;;" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <img src="static/Images/HDR-2.jpg" class="rounded d-block mx-auto img-fluid" style="height: 400px;"  alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <img src="static/Images/HDR-3.jpg" class="rounded d-block mx-auto img-fluid" style="height: 400px;"  alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <div class="d-flex align-items-end text-animate mb-5">
          <h2><span>H</span><span>D</span><span>R :</span> <span>H</span><span>O</span><span>M</span><span>E</span> <span>D</span><span>R</span><span>E</span><span>A</span><span>M</span> <span>R</span><span>E</span><span>N</span><span>O</span><span>V</span><span>A</span><span>T</span><span>I</span><span>O</span><span>N</span></h2>
        </div>
        <div class="scales">
          <p class="fs-4">
            Explore the possibilities of transforming your living space with our home renovation services. Discover expert design ideas, browse through curated project portfolios, and connect with skilled contractors to turn your dream home into a reality. Your journey to a refreshed and revitalized living space begins here.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="containet-fluid mt-4">
    <div class="row d-flex flex-nowrap overflow-auto">
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/architect/A-1.jpg" class="card-img-top" alt="Architect">
          <div class="card-body h-fit">
            <h5 class="card-title">Architect Summary</h5>
            <p class="card-text text-justify">An architect designs and plans structures, combining creativity with technical expertise to create functional and aesthetically pleasing buildings. They oversee construction projects, ensuring adherence to design specifications and regulatory standards.</p>
            <a href="#" class="btn btn-primary">Architect</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Gen_contractor/GC-1.jpg" class="card-img-top" alt="General Contractor">
          <div class="card-body h-fit">
            <h5 class="card-title">General Contractor</h5>
            <p class="card-text text-justify">A general contractor is responsible for providing all of the material, labor, equipment and services necessary for the construction of the project. A general contractor often hires specialized subcontractors to perform all or portions of the construction work.</p>
            <a href="#" class="btn btn-primary">General Contractor</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Interior_design/ID-1.jpg" class="card-img-top" alt="Interior Design">
          <div class="card-body h-fit">
            <h5 class="card-title">Interior Design</h5>
            <p class="card-text text-justify">Interior design involves creatively enhancing the interior spaces of buildings to achieve both functionality and aesthetic appeal, considering elements such as color schemes, furniture, and lighting and well-designed environments.</p>
            <a href="#" class="btn btn-primary">Interior Design</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/structural_engineering/SE-4.jpg" class="card-img-top" alt="Structural Engineering">
          <div class="card-body h-fit">
            <h5 class="card-title">Structural Engineering</h5>
            <p class="card-text text-justify">Structural engineering is the branch of civil engineering that focuses on designing and analyzing structures to ensure they can withstand various loads and environmental conditions. Structural engineers to develop infrastructure projects.</p>
            <a href="#" class="btn btn-primary">Structural Engineering</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Electrician/E-3.jpg" class="card-img-top" alt="Electrician">
          <div class="card-body h-fit">
            <h5 class="card-title">Electrician</h5>
            <p class="card-text text-justify">Electricians are skilled professionals who install, maintain, and repair electrical systems in residential, commercial, and industrial settings. They ensure the safe and reliable operation of electrical components, wiring, and appliances.</p>
            <a href="#" class="btn btn-primary">Electrician</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Plumber/P-4a.jpg" class="card-img-top" alt="Plumber">
          <div class="card-body h-fit">
            <h5 class="card-title">Plumber</h5>
            <p class="card-text text-justify">Plumbers are tradespeople specializing in installing and repairing plumbing systems, pipes, fixtures, and water heating systems. They play a crucial role in maintaining the proper functioning of water and drainage systems in residential.</p>
            <a href="#" class="btn btn-primary">Plumber</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Carpenter/C-3.jpg" class="card-img-top" alt="Carpenter">
          <div class="card-body h-fit">
            <h5 class="card-title">Carpenter</h5>
            <p class="card-text text-justify">Carpenters are skilled craftsmen who work with wood to construct, install, and repair structures such as furniture, doors, and framing. They use a variety of tools to create aesthetically pleasing wooden elements in various construction projects.</p>
            <a href="#" class="btn btn-primary">Carpenter</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Painter/P-4.jpg" class="card-img-top" alt="Painter">
          <div class="card-body h-fit">
            <h5 class="card-title">Painter</h5>
            <p class="card-text text-justify">Painters specialize in applying paints and coatings to interior and exterior surfaces, enhancing the appearance of buildings and spaces. Use techniques to achieve desired finishes, providing decorative and protective solutions for walls and surfaces.</p>
            <a href="#" class="btn btn-primary">Painter</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/flooring_specialist/FS-2.jpg" class="card-img-top" alt="Flooring Specialists">
          <div class="card-body h-fit">
            <h5 class="card-title">Flooring Specialists</h5>
            <p class="card-text text-justify">Flooring specialists are experts in installing and maintaining various types of flooring materials, such as hardwood, tile, carpet, and laminate. They ensure proper installation, durability, and Contributing to design and functionality of interior spaces.</p>
            <a href="#" class="btn btn-primary">Flooring Specialists</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/HVAC/HVAC-3.jpg" class="card-img-top" alt="HVAC Technicians">
          <div class="card-body h-fit">
            <h5 class="card-title">HVAC Technicians</h5>
            <p class="card-text text-justify">HVAC technicians specialize in installing, maintaining, and repairing heating, ventilation, and air conditioning systems, ensuring efficient climate control in residential, commercial, and industrial settings.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Gardner/G-3.jpg" class="card-img-top" alt="Gardener">
          <div class="card-body h-fit">
            <h5 class="card-title">Gardener</h5>
            <p class="card-text text-justify">Landscapers or gardeners are professionals who design, create, and maintain outdoor spaces, incorporating elements like plants, hardscape, and irrigation to enhance aesthetics and functionality for sustainable environments.</p>
            <a href="#" class="btn btn-primary">Gardener</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Roofing_Specialist/RS-4.jpg" class="card-img-top" alt="Roofing Specialists">
          <div class="card-body h-fit">
            <h5 class="card-title">Roofing Specialists</h5>
            <p class="card-text text-justify">Roofing specialists are skilled professionals who install, repair, and maintain roofs, ensuring the structural integrity and weather resistance of buildings. They work with various roofing materials commercial structures.</p>
            <a href="#" class="btn btn-primary">Roofing Specialists</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/Cleaner/C-3.jpg" class="card-img-top" alt="Cleaner">
          <div class="card-body h-fit">
            <h5 class="card-title">Cleaner</h5>
            <p class="card-text text-justify">Cleaners are individuals responsible for maintaining cleanliness and hygiene in various environments, performing tasks such as dusting, mopping, and sanitizing surfaces to create a tidy and sanitized space for homes, offices, and public spaces.</p>
            <a href="#" class="btn btn-primary">Cleaner</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/home_worker/HW-4.jpg" class="card-img-top" alt="Household Workers">
          <div class="card-body h-fit">
            <h5 class="card-title">Household Workers</h5>
            <p class="card-text text-justify">Household workers are individuals responsible for various domestic tasks, including cleaning, cooking, and general housekeeping duties. They contribute to maintaining a well-organized living space for residents functioning of a household.</p>
            <a href="#" class="btn btn-primary">Household Workers</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="static/Images/office_boy/OB-3.jpg" class="card-img-top" alt="Office Boy">
          <div class="card-body h-fit">
            <h5 class="card-title">Office Boy</h5>
            <p class="card-text text-justify">Office workers are professionals employed in administrative, clerical, or managerial roles within an office environment. They perform tasks such as data entry, communication management, and administrative support and productivity of the workplace.</p>
            <a href="#" class="btn btn-primary">Office Boy</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}